name: Run Tests

on: [push, pull_request]

jobs:
  test:
    name: Python ${{ matrix.python-version }} / Dramatiq ${{ matrix.dramatiq-major }}.x
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        dramatiq-major:
          - "1"
          - "2"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install "dramatiq~=${{ matrix.dramatiq-major }}.0"

    - name: Run tests
      run: make test
